# Configuração do agente de código

.claude/ @victorfob

# Configuração de deploy

deploy @victorfob

# Frontend

FateConnect/Web/ @victorfob

# Backend

FateConnect/Carona/ @Lautones
FateConnect/FateConnect.Api/ @Lautones

# Database

LBD/ @pdorth
ESII/ @pdorth
ESIII/ @pdorth
