<div class="filter-carona">
  <app-carona-filter (filterTriggered)="buscarCaronas($event)"></app-carona-filter>
</div>

<div class="lista-caronas">
  @if (isLoading()) {
    <div class="loading-container">
      <mat-progress-spinner
        mode="indeterminate"
        diameter="60">
      </mat-progress-spinner>
    </div>
  } @else {
    @if (listaCaronas().length > 0) {
      @for (item of listaCaronas(); track item.id) {
        <app-carona-card [carona]="item" (editar)="onEditar($event)" (excluir)="onExcluir($event)"></app-carona-card>
      }
    } @else {
      <app-typography variant="subtitle">Nenhuma carona encontrada.</app-typography>
    }
  }
</div>
