<mat-card class="card-container">
  <mat-card-content>

    <div class="header-row">
      <app-typography class="destino" variant="subtitle-bold">{{ carona.destino }}</app-typography>

      <div class="right-side">
        <div class="tags desktop-only">
          <span [class]="typeTagClass(carona.tipoCarona)">
            <app-typography variant="caption">{{ typeDisplayLabel(carona.tipoCarona) }}</app-typography>
          </span>
        </div>

        <div class="acoes">
          <button type="button" mat-icon-button aria-label="Editar" class="editar" (click)="onEditar()">
            <fa-icon [icon]="iconeEditar"></fa-icon>
          </button>

          <button type="button" mat-icon-button aria-label="Excluir" class="excluir" (click)="confirmarExclusao()">
             <fa-icon [icon]="iconeDeletar"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="info-row">
      <div class="info-item">
        <fa-icon [icon]="iconeCalendario" class="small-icon"></fa-icon>
        <app-typography variant="caption">{{ carona.dataPartida | date:'dd/MM/yyyy' }}</app-typography>
      </div>

      <div class="info-item">
        <fa-icon [icon]="iconeRelogio" class="small-icon"></fa-icon>
        <app-typography variant="caption">{{ carona.horaPartida | slice:0:5 }}</app-typography>
      </div>

      <div class="info-item">
        <fa-icon [icon]="iconeUserGroup" class="small-icon"></fa-icon>
        <app-typography variant="caption">{{ carona.qtdVagas }} vagas</app-typography>
      </div>
    </div>

    <div class="descricao">
      <app-typography variant="subtitle">{{ carona.descricao }}</app-typography>
    </div>

    <div class="tags mobile-only">
      <span [class]="typeTagClass(carona.tipoCarona)">
        <app-typography variant="caption">{{ typeDisplayLabel(carona.tipoCarona) }}</app-typography>
      </span>
    </div>

  </mat-card-content>
</mat-card>
