<div class="footer">
  <div id="contato" class="contacts-container">
    <app-typography variant="h2">Entre em contato</app-typography>
    <div class="contact-item">
      <fa-icon [icon]="envelopeIcon" size="sm"></fa-icon>
      <app-typography variant="caption">{{ contact.email }}</app-typography>
    </div>
    <div class="contact-item">
      <fa-icon [icon]="phoneIcon" size="sm"></fa-icon>
      <app-typography variant="caption">{{ contact.phone }}</app-typography>
    </div>
    <div class="contact-item">
      <fa-icon [icon]="locationIcon" size="sm"></fa-icon>
      <app-typography variant="caption">{{ contact.address }}</app-typography>
    </div>
  </div>

  <div class="divider-container"></div>

  <div class="copyright-container">
    <app-typography variant="caption">© 2026 FateConnect. Todos os direitos reservados.</app-typography>
    <app-typography variant="caption">Desenvolvido para facilitar a vida do Fatecano.</app-typography>
  </div>
</div>
