<div class="footer">
  <div class="contacts-container">
    <app-typography variant="title">Entre em contato</app-typography>
    <div class="contact-item">
      <fa-icon [icon]="faEnvelope" size="sm"></fa-icon>
      <app-typography variant="footer-body">f003.alunos@fatec.sp.gov.br</app-typography>
    </div>
    <div class="contact-item">
      <fa-icon [icon]="faPhone" size="sm"></fa-icon>
      <app-typography variant="footer-body">(15) 3238-5266</app-typography>
    </div>
    <div class="contact-item">
      <fa-icon [icon]="faLocationDot" size="sm"></fa-icon>
      <app-typography variant="footer-body">Av. Eng. Carlos Reinaldo Mendes, 2015</app-typography>
    </div>
  </div>

  <div class="divider-container"></div>

  <div class="copyright-container">
    <app-typography variant="footer-body">© 2026 FateConnect. Todos os direitos reservados.</app-typography>
    <app-typography variant="footer-body">Desenvolvido para facilitar a vida do Fatecano.</app-typography>
  </div>
</div>
