.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--app-cor-principal);
  color: var(--app-texto-fundo-forte);
  padding: 3vw 7vw;
  height: auto;
  gap: 1rem;
  width: 100vw;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.divider-container {
  width: 1px;
  height: auto;
  background-color: var(--app-divisor);
}

.copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7vw;
  }
  .contacts-container {
    align-items: center;
  }
  .copyright-container {
    align-items: center;
  }
  .divider-container {
    width: 100%;
    height: 1px;
  }

}
