<mat-dialog-content>
  <app-typography variant="h2">{{ data.title || 'Confirmar ação' }}</app-typography>
  <app-typography variant="subtitle">
    <span class="message" [innerHTML]="data.message || 'Tem certeza que deseja continuar?'"></span>
  </app-typography>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" extended mat-raised-button color="primary" (click)="onCancel()">{{ data.cancelText || 'Cancelar' }}</button>
  <button type="button" extended mat-raised-button color="accent" (click)="onConfirm()">{{ data.confirmText || 'Confirmar' }}</button>
</mat-dialog-actions>
