<app-typography variant="display">Bem-vindo ao FateConnect</app-typography>
<app-typography variant="lead">Escolha um dos serviços abaixo para começar.</app-typography>

<div class="cards-container">
  <button routerLink="/achados-perdidos">
    <div class="icon-container">
      <fa-icon [icon]="faSearch"></fa-icon>
    </div>

    <app-typography variant="title">Achados & Perdidos</app-typography>
  </button>

  <button routerLink="/caronas">
    <div class="icon-container">
      <fa-icon [icon]="faCar"></fa-icon>
    </div>

    <app-typography variant="title">Caronas</app-typography>
  </button>
</div>
