<app-typography variant="h1">Bem-vindo ao FateConnect</app-typography>
<div class="menu-intro">
  <app-typography variant="subtitle">Escolha um dos serviços abaixo para começar.</app-typography>
</div>

<div class="cards-container">
  <button type="button" routerLink="/achados-perdidos">
    <div class="icon-container">
      <fa-icon [icon]="searchIcon"></fa-icon>
    </div>

    <app-typography variant="h2">Achados & Perdidos</app-typography>
  </button>

  <button type="button" routerLink="/caronas">
    <div class="icon-container">
      <fa-icon [icon]="carIcon"></fa-icon>
    </div>

    <app-typography variant="h2">Caronas</app-typography>
  </button>
</div>
