<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over" position="end" class="sidenav">
    <div class="logo-container">
      <a class="logo-app" routerLink="/inicio">
        <app-typography variant="logo">FateConnect</app-typography>
      </a>
    </div>

    <mat-nav-list>
      <a mat-list-item (click)="closeDrawerAndGoToFragment(drawer, 'servicos')">Serviços</a>
      <a mat-list-item (click)="closeDrawerAndGoToFragment(drawer, 'como-funciona')">Como Funciona</a>
      <a mat-list-item (click)="closeDrawerAndGoToFragment(drawer, 'contato')">Entre em Contato</a>
      <a mat-list-item (click)="closeDrawerAndGoToFragment(drawer, 'login')">Entrar</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="layout">
      <app-header [drawer]="drawer" [isLoggedIn]="false"></app-header>

      <div class="layout-main">
        <router-outlet></router-outlet>
      </div>

      <app-footer></app-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
