<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer mode="over" position="end" class="sidenav">
    <div class="logo-container">
      <a class="logo-app" routerLink="/menu">
        <app-typography variant="logo">FateConnect</app-typography>
      </a>
    </div>


    <mat-nav-list>
      <a mat-list-item routerLink="/achados-perdidos" (click)="drawer.close()">Achados & Perdidos</a>
      <a mat-list-item routerLink="/caronas" (click)="drawer.close()">Caronas</a>
      <a mat-list-item routerLink="/contato" (click)="drawer.close()">Entre em Contato</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <main class="layout">
      <app-header [drawer]="drawer"></app-header>

      <div class="layout-main">
        <router-outlet></router-outlet>
      </div>

      <app-footer></app-footer>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
