root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
dotnet_style_prefer_is_null_check_over_reference_equality_check = true:suggestion
dotnet_style_require_accessibility_modifiers = always:suggestion

[**/Migrations/**]
generated_code = true
